services:
  client:
    build: ./client
    ports:
      - "3000:3000"
    depends_on:
      - server
  server:
    build: ./server
    ports:
      - "5000:5000"
    environment:
      - MONGO_URI=
      - ML_SERVICE_URL=http://ml_service:8000
      - PORT=5000
      - JWT_SECRET=supersecurekey
    depends_on:
      - ml_service
  ml_service:
    build: ./ml_service
    ports:
      - "8000:8000"
